{% extends 'base.html' %}

{% block content %}
<style>
        input{
            padding: .5rem!important;
            width: 100%;
        
        }
        textarea{
            padding: .5rem!important;
            width: 100%;
        
        }
        input[type=password]{
            padding: .5rem!important;
            width: 100%;
        
        }
        td{
          display: block !important;
        }
        table{
          width: 100%;
          padding: 20px;
        }
        label{
            display: block !important;

        }
        li{
            list-style: none
        }
        </style>
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border" style="padding: 20px;" >
                    <h3 class="bg-gray p-4">Add / Edit products</h3>
                    
                    {{form.as_ul}}
                    <button type="submit"  value="submit" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Save</button>                    <input type="hidden" name="next" value="{{ next }}" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
