{% extends 'base.html' %}


{% block content %}
<style>
input[type=text]{
    padding: 1rem!important;
    width: 100%;

}
input[type=password]{
    padding: 1rem!important;
    width: 100%;

}
td{
  display: block !important;
}
table{
  width: 100%;
  padding: 20px;
}
</style>


<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border" style="padding: 20px;" >
                    <h3 class="bg-gray p-4">Login Now</h3>


                    {% if form.errors %}
                      <p style="color: red" >Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    
                    {% if next %}
                      {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                      {% else %}
                        <p>Please login to see this page.</p>
                      {% endif %}
                    {% endif %}
                    
                    <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                    
                    <tr>
                      <td>{{ form.username.label_tag }}</td>
                      <td>{{ form.username }}</td>
                    </tr>
                    
                    <tr>
                      <td>{{ form.password.label_tag }}</td>
                      <td>{{ form.password }}</td>
                    </tr>
                    </table>
                    
                    <button type="submit"  value="submit" class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">Log in</button>                    <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                    <a style="color: blue" href="{% url 'signup' %}">Dont have an acount? Signup for one</a>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}